html{
    font-family:sans-serif;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    overflow-x:hidden
}
body{
    font-family:Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    margin:0;
    word-break:break-word
}
:root{
    --main-color:#00d07e;
    --backg-light:#fff;
    --backgl-text:#000;
    --backg-dark:#121111;
    --backgd-text:#fff;
    --menu-text:#fff;
    --width:100vw;
    --padding:20px
}
@media (min-width:544px){
    :root{
        --padding:32px
    }
}
@media (min-width:786px){
    :root{
        --width:760px
    }
}
@media (min-width:940px){
    :root{
        --width:880px;
        --padding:42px
    }
}
@media (min-width:1200px){
    :root{
        --padding:56px
    }
}
h1{
    font-size:2em;
    margin:1em 0
}
a{
    background-color:transparent
}
b,strong{
    font-weight:bolder
}
sub{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sub{
    bottom:-.25em
}
img{
    border-style:none
}
html{
    box-sizing:border-box
}
body{
    color:#333;
    font-family:sans-serif;
    font-size:18px;
    font-size:1.125rem;
    line-height:2
}
h1,h2,h3,h4,h5,h6{
    clear:both
}
p{
    font-size:20px;
    margin-bottom:1.5em
}
em,i{
    font-style:italic
}
blockquote{
    margin:0 1.5em
}
body{
    background:#f3f3f3
}
ol,ul{
    margin:0 0 1.5em 2em
}
ul{
    list-style:disc
}
ol{
    list-style:decimal
}
li > ol,li > ul{
    margin-bottom:0;
    margin-left:1.5%;
    padding-left:24px
}
img{
    height:auto;
    max-width:100%
}
.gy-grid{
    display:grid
}
.depth{
    box-shadow:rgb(22 31 39 / 42%) 0 60px 123px -25px, rgb(19 26 32 / 8%) 0 35px 75px -35px;
    border-radius:10px;
    border:1px solid;
    border-color:rgb(213, 220, 226);
    background:#fff;
    padding:8px;
    text-align:center
}
.h-cont{
    margin:0 auto;
    padding:0 var(--padding)
}
.container{
    margin:0 auto;
    padding:var(--padding)
}
.site-header{
    text-align:center;
    background:var(--backg-dark);
    color:var(--backgd-text)
}
.site-header .grid-2 {
    grid-template-columns: repeat( auto-fit, minmax(112px, 1fr) );
    grid-gap: 12px;
}
.topn-b{
    margin-bottom:8px;
    border-bottom:1px solid #eee
}
.topnews div:first-child{
    display:none
}
.site-branding{
    height:48px;
    float:left;
    margin:20px 0
}
.site-title{
    display:none
}
#primary{
    padding-bottom:160px
}
.site-footer{
    background:var(--backg-dark);
    color:#eee;
    padding-top:20px;
    font-size:16px
}
.action-call{
    background:var(--backg-dark);
    padding:10px
}
#grid-3{
    border-radius:16px;
    margin-top:-124px;
    padding:24px;
    align-items:center;
    grid-gap:20px
}
#grid-3 h2{
    margin-top:0;
    margin-bottom:0
}
#menu-footer-navigation li{
    list-style:none;
    padding:8px
}
#menu-footer-navigation a{
    color:#fff
}
.contact-footer{
    margin:24px
}
.contact-footer a{
    color:#fff;
    padding:16px 24px;
    border:2px solid #fff;
    border-radius:4px;
    display:inline-block
}
.site-info{
    padding:var(--padding)
}
.site-footer p{
    font-size:16px
}
.site-footer .grid-3{
    grid-gap:16px
}
.site-footer .depth{
    background:var(--backg-dark);
    border:1px solid #00d06e
}
.cont-foot h3,.social-l h3{
    margin:0 0 12px
}
.social-l div{
    display:inline-block;
    margin:4px;
    padding:4px 10px 0;
    border:4px solid #fff;
    border-radius:8px
}
.cont-foot p{
    margin:12px 0
}
@media (min-width:786px){
    .container,.h-cont{
        max-width:var(--width)
    }
    .grid-2{
        grid-template-columns:repeat(2,1fr)
    }
    .grid-3{
        grid-template-columns:repeat(3,1fr)
    }
    .topnews div:first-child{
        display:block
    }
}
@media (min-width:940px){
    .container,.h-cont{
        max-width:900px
    }
}
@media (min-width:1200px){
    .container,.h-cont{
        max-width:1080px
    }
}
a{
    color:var(--main-color);
    text-decoration:none
}
a:active,a:hover{
    outline:0
}
.main-navigation ul{
    display:grid;
    grid-template-columns:repeat( auto-fit, minmax(100px, 1fr) );
    list-style:none;
    margin:0;
    padding-left:0
}
.main-navigation li{
    padding:12px 0;
    margin-left:20px
}

.main-navigation a{
    display:block;
    color:var(--backgd-text);
    font-size:16px;
    font-weight:600;
    text-transform:uppercase
}
.appnt{
    margin:20px 0;
    padding:4px;
    background:var(--backg-dark)
}
.appnt a{
    color:var(--backgd-text)
}
.site-main .post-navigation{
    margin:0 0 1.5em;
    overflow:hidden
}
.clear:after,.clear:before,.site-content:after,.site-content:before,.site-footer:after,.site-footer:before{
    content:"";
    display:table;
    table-layout:fixed
}
.clear:after,.site-content:after,.site-footer:after{
    clear:both
}
.has-text-align-center{
    text-align:center
}
.content-b{
    background:#fff
}
.site-footer svg{
    width: 18px;
}
